html,body,#root {
    margin: 0;
    padding: 0;
    height: 100%;
}
* {
    box-sizing: border-box;
}

.css-h86el7-MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
    background-color: #424242 !important;
}