html,body,#root {
    margin: 0;
    padding: 0;
    height: 100%;
}
* {
    box-sizing: border-box;
}

.css-h86el7-MuiButtonBase-root-MuiListItemButton-root.Mui-selected {
    background-color: #424242 !important;
}
.scrollbar {
    scroll-behavior: smooth;
    overflow-y: auto;
    overflow-x: hidden;
}
/* width */
.scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  .scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  .scrollbar::-webkit-scrollbar-thumb {
    background: #424242;
  }
  .scrollbar:hover::-webkit-scrollbar-thumb {
    background: #616161;
  }
  

  
